@import "tailwindcss";

@theme {
  --color-fontColor: #e6fcfc;
  --color-BackgroundColor: #021311;
  --color-primary-100:#80f2e9 ;
  --color-secondary:#203ca9;
  --color-accent:#5240eb;
  --color-primary-200:#60e8e3 ;
  --color-primary-400:#16b6b6;
  --color-secondary-200:#203888;
  --color-secondary-100:#295ee7;
  --color-BackgroundColor-200: #144d44;
  --color-BackgroundColor-150: #117463;
  --color-BackgroundColor-100:#10917a;
  --font-display : "Inter", sans-serif;
  --font-code : "Inconsolata", monospace
}